*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    max-width: 1000px;
    margin: auto;
}

h1{
    color: darkslategray;
}

h2{
    color: darkblue;
}

nav{
    background-color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

nav a{
    color: aliceblue;
    text-decoration: none;
    margin: 10px;
}

nav a:hover{
    color: brown;
}

section{
    background-color: whitesmoke;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
}

section:hover{
    border: 2px solid darkblue;
}

.nome{
    color: brown;
}

.cabecalho{
    text-align: center;
}